<template name="recipe">
	<article class="recipe">
		<h3>{{name}}</h3>
		<p>{{desc}}</p>
		<p>
			{{#each ingredients}}
			{{name}} - {{amount}}
			{{/each}}
		</p>
		<p>Created At: {{createdAt}}</p>
		<a href="/recipe/{{id}}">View Recipe Details</a>
		{{#if inMenu}}
		<button class="btn-remove">Remove from Menu</button>
		{{else}}
		<button class="btn-add">Add to Menu</button>
		{{/if}}

		{{> quickForm collection="Recipes" type="update" id=id doc=this class="update-recipe-form" autosave=true}}
	</article>
</template>
