<template name="recipe">
	<article class="recipe">
		<h3 class="recipe-title">{{name}}</h3>
		<i class="fa fa-trash"></i>
		<i class="fa fa-pencil"></i>
		{{#if $.Session.get 'editMode'}}
		{{> quickForm collection="Recipes" type="update" id=_id doc=this class="update-recipe-form" autosave=true}}
		{{else}}
		<p recipe-description>{{desc}}</p>
		<p>
			{{#each ingredients}}
			<p>{{name}} - <span class="recipe_ingredient-amount">{{amount}}</span></p>
			{{/each}}
		</p>
		<p class="created-date">Created At: {{createdAt}}</p>
		<a href="/recipe/{{id}}">View Recipe Details</a>
		{{#if inMenu}}
		<button class="btn-remove">Remove from Menu</button>
		{{else}}
		<button class="btn-add">Add to Menu</button>
		{{/if}}
		{{/if}}
	</article>
</template>
